@charset "UTF-8";

@media screen and (min-width: 768px) {
    #burger {
        display: none;
    }

    menu{
        display: block;
    }

    menu a {
        border-radius: 20px;
    }

    menu li {
        display: inline-block;
        width: 15vw;
        padding: 10px;
        margin-left: 14px;
    }

    main {
        width: 768px;
    }
}